<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Book store</title>
</head>
<body>
    <div class="menu">
        <a href="{% url 'book_list' %}">Book store</a>
        <p></p>
        <a href="{% url 'authors_list' %}">Authors</a>
    </div>

    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Your cart:
                <a href="{% url 'cart' %}">
                    {{ total_items }} book{{ total_items|pluralize }},
                    {{ cart.get_total_price }}$
                </a>
            {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>