{% extends 'Books/base.html' %}


{% block content %}
    <form method="GET" action="{% url 'book_list' %}" class="form-container">
        <input type="text" name="search_query">
        <button type="submit">🔍︎</button>
    </form>

    <form method="GET" action="{% url 'book_list' %}" class="form-container">
        {{ form.as_p }}
    </form>

    <ul>
        {% for book in books %}
            <li>
                <a href="{{book.slug}}">
                    <img src="{{ book.image.url }}" alt="{{ book.title }} image">
                    {% if book.author.slug %}
                        {{ book.title }} - {{ book.author }} - {{ book.price }}$
                    {% else %}
                        {{ book.title }} - {{ book.price }}$
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&category_slug={{ request.GET.category_slug }}&search_query={{ request.GET.search_query }}">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}&category_slug={{ request.GET.category_slug }}&search_query={{ request.GET.search_query }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&category_slug={{ request.GET.category_slug }}&search_query={{ request.GET.search_query }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&category_slug={{ request.GET.category_slug }}&search_query={{ request.GET.search_query }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}