{% extends 'Books/base.html' %}


{% block content %}
    <div class="book-details">
        <img src="{{book.image.url}}" alt="{{ book.title }} image">
        <ul>
            <li>{{book.title}}</li>
            {% if book.author.slug %}
                <li><a href="{% url 'author_detail' slug=book.author.slug %}">{{book.author}}</a></li>
            {% else %}
                <li>No author</li>
            {% endif %}
            <li>{{book.category.name}}</li>
            <li>{{book.description}}</li>
            <li>{{book.price}}$</li>
            <li>{{book.published_date}}</li>
        </ul>
    </div>


    <form action="{% url 'cart_add' book_id=book.id %}" method="POST" class="form-container">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Add">
    </form>


{% endblock %}